.table-container {
  position: absolute;
  top: 100px;
  left: 400px;
  width: 500px;
  height: 400px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.row {
  border: 1px solid #000;
}

th,
td {
  padding: 8px;
  border: 1px solid #000;
}

.header {
  font-weight: bold;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick the header to the top of the container */
  background-color: #f2f2f2; /* Add background color to the header */
}
